<section class="section bgimg">
  <div class="container">
    <div class="columns is-multiline">

      <!-- loop over our users and give them each a card -->
      <div class="column is-4" *ngFor="let user of users | async">

        <div class="card">
          <div class="card-image">
            <figure class="image is-4by4">
              <img src="{{user.avatar_url}}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div    class="media-content">
                <a routerLink="/users/{{user.login}}">
                <p class="title is-4">{{user.login}}</p>
                </a>
                <p class="subtitle is-6">{{user.type}}</p>
              </div>
            </div>

            <div class="content">
              <a href="{{user.html_url}}">Repository</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
